body {
	width: 100%;
}

#container {
	display: grid;
	height: 700px;
	width: 80%;
	grid-template-rows: repeat(auto-fill, minmax(10px, auto));
	grid-template-columns: repeat(auto-fill, minmax(10px, auto));
	margin: auto;
}

div {
	background-color: black;
	

}